
.icon-badge{
    display: inline-flex;
    height: 1.5rem; 
    width: 1.5rem; 
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: rgba(99,102,241,0.12); 
}
.check-icon{
    width: 0.875rem; 
    height: 0.875rem; 
    color: #777f9f; 
}